{% extends 'base.html' %}
{% from "_helpers.html" import render_field %}

{% block base_content %}
<div class="container content">
  <div class="row-fluid">
    <div id="login">
      <form id="login" class="well" method="POST">
        <fieldset>
            <div class="control-group">
                <div class="controls">
                    <input type="text" name="username" value="" class="input-xlarge required" placeholder="{{_('username')}}" autofocus="true" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <input type="password" name="password" value="" class="input-xlarge required" placeholder="{{_('password')}}" />
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    {% with org = session.get('organization') %}
                    <input type="text" name="organization" value="{% if org %}{{org.name}}{% endif %}" class="input-xlarge required" placeholder="{{_('organization')}}" />
                    {% endwith %}
                </div>
            </div>
        </fieldset>
        <div class="form-actions">
          <button id="form-submit" class="btn btn-large btn-primary btn-fill">{{_('Login')}}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#form-submit").click(function(){
    $("#form-login").submit();
  });

  $("#form-forgot").click(function(){
    return false;
  });

  $(function(){
    $("form#login").validate();
  });
</script>
{% endblock %}
