{% macro render_field(field) %}
<div class="control-group {% if field.errors %}error{% endif %}">
    {% if field.type != 'HiddenField' and field.type != 'CSRFTokenField' %}
    {% if 'placeholder' not in kwargs %}
    <label class="control-label">{{field.label.text}}</label>
    {% endif %}
    {% endif %}
    <div class="controls">
        {{field(**kwargs)}}
        {% if field.name == 'api_key' %}
        <a class="btn btn-mini btn-generate-api-key" title="{{_('Generate API Key')}}"><i class="icon-refresh"></i></a>
        <script type="text/javascript">
            $("a.btn-generate-api-key").click(function(){
                $.get("{{url_for('accounts.generate_api_key')}}", function(data){
                    $("input#api_key").val(data);
                });
            });
        </script>
        {% endif %}
        <p class="help-block">{{field.errors|join('')}}</p>
    </div>
</div>
{% endmacro %}
