<div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>{{_('Launch Node')}}</h3>
</div>
<div class="modal-body">
    <form id="launch-node" class="form-horizontal well" method="post" action="{{url_for('dashboard.node_launch', provider=provider, region=region)}}">
        <fieldset>
            <div class="control-group">
                <label class="control-label" for="name">{{_('Name')}}</label>
                <div class="controls">
                    <input type="hidden" name="region" value="{{region}}"/>
                    <input type="text" name="name" value="" class="required" placeholder="{{_('instance name')}}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="image">{{_('Image')}}</label>
                <div class="controls">
                    {% if provider == 'rackspace' %}
                    <select id="image" name="image">
                    {% for image in images %}
                    <option value="{{image.id}}">{{image.name}}</option>
                    {% endfor %}
                    </select>
                    {% else %}
                    <input type="text" name="image" value="" class="required" placeholder="{{_('ami id')}}" />
                    {% endif %}
                </div>
            </div>
            {% if provider == 'ec2' %}
            <div class="control-group">
                <label class="control-label" for="keypair">{{_('Keypair')}}</label>
                <div class="controls">
                    <input type="text" name="keypair" value="" class="required" placeholder="{{_('keypair')}}" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="keypair">{{_('Security Groups')}}</label>
                <div class="controls">
                    <input type="text" name="security_groups" value="" class="" placeholder="{{_('space separated')}}" />
                </div>
            </div>
            {% endif %}
            <div class="control-group">
                <label class="control-label" for="size">{{_('Size')}}</label>
                <div class="controls">
                    <select id="size" name="size">
                    {% for size in sizes %}
                    <option value="{{size.id}}">{{size|format_image_size(provider)}}</option>
                    {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <a href="#" class="btn btn-large btn-cancel" data-dismiss="modal">{{_('Cancel')}}</a>
    <a id="btn-launch-node" href="#" class="btn btn-large btn-primary">{{_('Launch')}}</a>
</div>
<script type="text/javascript">
    $(function(){
        $("form#launch-node").validate();
        $("a#btn-launch-node").click(function(){
            
            if ($("form#launch-node").valid()) {
                // submit
                $("form#launch-node").submit();
                // show loading
                $("div#modal-launch-server div.modal-body").html('<div class="loading"></div>');
                // disable controls
                $("a#btn-launch-node").addClass('disabled');
                $("a.btn-cancel").addClass('disabled');
            }
        });
    });
</script>