{% extends "base.html" %}
{% block page_header_toolbar %}
{% if regions %}
<a href="#modal-launch-server" class="btn btn-small btn-primary" data-toggle="modal">{{_('Launch Server')}}</a>
{% endif %}
{% endblock %}
{% block main_content %}

{% if regions %}
<ul class="nav nav-tabs">
    {% for region in regions %}
    <li {% if loop.first %}class="active"{% endif %}>
      <a href="#tab-content-servers" class="tab" data-toggle="tab" data-provider='{{region.name}}'>{{region.name}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="tab-content">
    <div class="tab-pane active" id="tab-content-servers">
        {% if regions %}
        <div class="loader">
            <img src="{{url_for('static', filename='img/loader_64.gif')}}"/>
        </div>
        {% else %}
        <div>
            <span class="info-large">{{_('Select an organization')}}</span>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    function loadNodes(provider) {
        var org = $("#current-organization").val();
        var query = provider ? '?provider=' + provider : '';
        $("#tab-content-servers").load("{{url_for('dashboard.nodes')}}" + query);  
    };
    $(function(){
        $(".tab").click(function(){
            $("#tab-content-servers").html('<div style="margin: 0 auto 0 auto; text-align: center;"><img src="{{url_for('static', filename="img/loader_64.gif")}}"/></div>');
            var provider = $(this).attr('data-provider');
            loadNodes(provider);
        });
        $("select#current-organization").on('orgChange', function() {
            location.reload();
        });
        loadNodes();
    });
</script>
{% endblock %}
