{% extends "base.html" %}
{% block page_header_toolbar %}
{% if regions %}
<a id="btn-launch-server" class="btn btn-small btn-primary" data-toggle="modal" href="#modal-launch-server" >{{_('Launch Node')}}</a>
{% endif %}
{% endblock %}
{% block main_content %}
<div id="modal-launch-server" class="modal hide">
</div>
{% if regions %}
<ul class="nav nav-tabs">
    {% for r in regions %}
    <li {% if region and r.name == region %}class="active"{% elif not region and loop.first %}class="active"{% endif %}>
      <a href="#tab-content-servers" class="tab" data-toggle="tab" data-provider='{{provider}}' data-region='{{r.name}}'>{{r.name}}</a>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="tab-content">
    <div class="tab-pane active" id="tab-content-servers">
        {% if regions %}
        <div class="loader">
            <img src="{{url_for('static', filename='img/loader_64.gif')}}"/>
        </div>
        {% else %}
        <div>
            <span class="info-large">{{_('Select an organization')}}</span>
        </div>
        {% endif %}
    </div>
</div>
<script type="text/javascript">
    function loadNodes(provider, region) {
        var org = $("#current-organization").val();
        var region = region ? region : '';
        $("#tab-content-servers").load("/dashboard/nodes/" + provider + '/' + region) + '/';
    };
    $(function(){
        $("#btn-launch-server").click(function(){
            var region = $("ul.nav li.active a.tab").attr('data-region');
            $("#modal-launch-server").modal('toggle');
            $("#modal-launch-server").load('/dashboard/nodes/{{provider}}/' + region + '/launch', function(data){
            });
        });
        $(".tab").click(function(){
            $("#tab-content-servers").html('<div style="margin: 0 auto 0 auto; text-align: center;"><img src="{{url_for('static', filename="img/loader_64.gif")}}"/></div>');
            var provider = $(this).attr('data-provider');
            var region = $(this).attr('data-region');
            loadNodes(provider, region);
        });
        $("select#current-organization").on('orgChange', function() {
            location.reload();
        });
        loadNodes('{{provider}}', $("ul.nav li.active a.tab").attr('data-region'));
    });
</script>
{% endblock %}
